* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(142, 152, 246, 0.331);
}

.cardmain {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.card {
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 9px black;
    background-color: aqua;
}

.card:hover {
    box-shadow: 6px 12px 10px black;
}

.img {
    width: 100%;
}

.cardbody {
    padding: 5px;


}

.cardbody .cardtitle {
    font-size: 1rem;
    text-align: center;

}

.cardbody .carddes {
    text-align: justify;
    line-height: 1.5;
}

.hrcard {
    border: 2px solid black;
    width: 100%;
    margin: auto;
    border-bottom: none;
}